* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
.Pcontainer {
  padding: 50px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.Pcontainer .product {
  height: 310px;
  width: 200px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgb(123, 156, 160);
}

.Pcontainer .product .cardImg {
  height: 65%;
  width: 100%;
  padding: 10px;
}
.Pcontainer .product .cardImg img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.Pcontainer .product .cardDetail {
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.Pcontainer .product .cardDetail .mobileInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  width: 100%;
  padding: 0 10px;
}
.Pcontainer .product .cardDetail .names {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Pcontainer .product .cardDetail .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.Pcontainer .product .cardDetail .buttons button {
  height: 30px;
  width: 80px;
  cursor: pointer;
  font-size: 12px;
  box-shadow: none;
}

@media screen and (max-width: 1144px) {
  .Pcontainer {
    padding: 50px 50px;
  }
}

@media screen and (max-width: 867px) {
  .Pcontainer {
    padding: 50px 10px;
  }
}

@media screen and (max-width: 767px) {
  .Pcontainer .product {
    height: 280px;
    width: 180px;
  }
  .Pcontainer .product .cardImg {
    height: 60%;
  }
  .Pcontainer .product .cardDetail .buttons button {
    height: 30px;
    width: 70px;
    font-size: 10px;
  }
  .Pcontainer .product .cardDetail .names h5 {
    font-size: 14px;
  }
  .Pcontainer .product .cardDetail .names p {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .Pcontainer {
    padding: 50px 50px;
  }
  .Pcontainer .product {
    height: 330px;
    width: 220px;
  }
  .Pcontainer .product .cardImg {
    height: 70%;
  }
  .Pcontainer .product .cardDetail .buttons button {
    height: 30px;
    width: 90px;
    font-size: 14px;
  }
  .Pcontainer .product .cardDetail .names h5 {
    font-size: 14px;
  }
  .Pcontainer .product .cardDetail .names p {
    font-size: 12px;
  }
}
@media screen and (max-width: 560px) {
  .Pcontainer {
    padding: 50px 10px;
  }
}
@media screen and (max-width: 472px) {
  .Pcontainer .product {
    height: 280px;
    width: 180px;
  }
  .Pcontainer .product .cardImg {
    height: 60%;
  }
  .Pcontainer .product .cardDetail .buttons button {
    height: 30px;
    width: 70px;
    font-size: 10px;
  }
  .Pcontainer .product .cardDetail .names h5 {
    font-size: 14px;
  }
  .Pcontainer .product .cardDetail .names p {
    font-size: 12px;
  }
}
@media screen and (max-width: 380px) {
  .Pcontainer .product {
    height: 220px;
    width: 155px;
  }
  .Pcontainer .product .cardImg {
    height: 60%;
  }
  .Pcontainer .product .cardDetail .buttons button {
    height: 20px;
    width: 50px;
    font-size: 6px;
  }
  .Pcontainer .product .cardDetail .names h5 {
    font-size: 10px;
  }
  .Pcontainer .product .cardDetail .names p {
    font-size: 8px;
  }
  .Pcontainer .product .cardDetail p {
    font-size: 16px;
  }
}
@media screen and (max-width: 340px) {
  .Pcontainer .product {
    height: 220px;
    width: 145px;
  }
}
@media screen and (max-width: 320px) {
  .Pcontainer .product {
    height: 200px;
    width: 125px;
  }
}
