* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.singleContainer {
  height: auto;
  width: 100%;
  padding: 10px 10px 20px 10px;
  display: flex;
  justify-content: space-between;
}
.singleContainer .imageArea {
  width: 35%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singleContainer .imageArea img {
  height: 20rem;
  width: 20rem;
  border-radius: 12px;
}
.singleContainer .infoArea {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.singleContainer .infoArea .heading {
  display: flex;
  gap: 20px;
  align-items: center;
}
.singleContainer .infoArea .heading .star {
  display: flex;
  font-size: 25px;
  color: rgb(255, 165, 29);
}
.singleContainer .infoArea .price {
  display: flex;
  gap: 10px;
  align-items: center;
}
.singleContainer .infoArea .price .offer {
  text-decoration: line-through;
  color: rgb(106, 106, 106);
}

.singleContainer .infoArea .offers h4 {
  padding: 5px 0;
}
.singleContainer .infoArea .offers .para {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.singleContainer .infoArea .offers .para p i {
  padding-right: 10px;
  color: rgb(31, 214, 31);
}
.singleContainer .infoArea .offers .para p span {
  color: blue;
  cursor: pointer;
}
.singleContainer .infoArea .offers .para p span i {
  padding-left: 5px;
  font-size: 12px;
  color: blue;
}

.singleContainer .infoArea .highlight h4 {
  padding: 20px 0;
}
.singleContainer .infoArea .highlight .details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.singleContainer .infoArea .highlight .details ul {
  padding-left: 15px;
}

.singleContainer .infoArea .highlight .details ul li {
  line-height: 25px;
  color: rgb(23, 23, 23);
  font-style: inherit;
}
.singleContainer .infoArea .Single-buttons {
  width:50%;
  display: flex;
  justify-content: space-between;
}
.singleContainer .infoArea .Single-buttons button {
  width: 10rem;
  box-shadow: none;
  border-radius: 20px;
  background-color: orange;
  border: none;
  height: 40px;
  outline: none;
  transition: 0.5s;
  font-weight: bold;
  margin-top: 10px;
}
.singleContainer .infoArea .Single-buttons button:hover{
  background-color: rgb(255, 253, 250);
  color: orange;
}

@media screen and (max-width: 1144px) {
  .singleContainer {
    padding: 50px 50px;
  }
  .singleContainer .infoArea .Single-buttons{
    width: 60%;
  }
}

@media screen and (max-width: 1044px) {
  .singleContainer .infoArea .offers .para p {
    font-size: 14px;
  }
  .singleContainer .infoArea .heading h1 {
    font-size: 22px;
  }
  .singleContainer .infoArea .heading .star {
    font-size: 20px;
  }
}


@media screen and (max-width: 1044px) {
  .singleContainer .infoArea .offers .para p {
    font-size: 10px;
  }
  .singleContainer .infoArea .features div i {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
  .singleContainer .infoArea .features div span {
    font-size: 10px;
  }
  .singleContainer .imageArea img{
    height: 18rem;
    width: 18rem;
  }
  .singleContainer .infoArea .Single-buttons{
    width: 70%;
  }
}

@media screen and (max-width: 785px) {
  .singleContainer .infoArea .heading h1 {
    font-size: 18px;
  }
  .singleContainer .infoArea .heading .star {
    font-size: 16px;
  }
  .singleContainer .infoArea .features div i {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
  .singleContainer .infoArea .features div span {
    font-size: 8px;
  }
  .singleContainer {
    padding: 50px 10px;
  }
}

@media screen and (max-width: 785px) {
  .singleContainer {
    flex-direction: column;
    gap: 30px;
  }
  .singleContainer .imageArea {
    width: 60%;
  }
  .singleContainer .infoArea {
    width: 100%;
  }
  .singleContainer .infoArea .heading h1 {
    font-size: 25px;
  }
  .singleContainer .infoArea .heading .star {
    font-size: 25px;
  }
  .singleContainer .infoArea .features div i {
    width: 50px;
    height: 50px;
    font-size: 18px;
  }
  .singleContainer .infoArea .features div span {
    font-size: 16px;
  }
  .singleContainer .infoArea .offers .para p {
    font-size: 14px;
  }
  .singleContainer .infoArea .Single-buttons{
    width: 100%;
    justify-content:start;
    gap: 30px;
  }
  .singleContainer .infoArea .Single-buttons button{
    width: 8rem;
  }
}
@media screen and (max-width: 537px) {
  .singleContainer .infoArea .offers .para p {
    font-size: 12px;
  }
  .singleContainer .infoArea .heading h1 {
    font-size: 20px;
  }
  .singleContainer .infoArea .heading .star {
    font-size: 20px;
  }
  .singleContainer .infoArea .features div i {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .singleContainer .infoArea .features div span {
    font-size: 12px;
  }
  .singleContainer .infoArea .offers .para p {
    font-size: 10px;
  }
  .singleContainer .infoArea .Single-buttons button{
    width: 6rem;
  }
  .singleContainer .imageArea{
    width: 90%;
  }
  .singleContainer .imageArea img{
    margin-left: 20px;
  }
}
