* {
  margin: 0;
  padding: 0;
}

.WScontainer {
  padding: 30px 40px;
  row-gap: 40px;
  overflow-x: hidden;
}
.WScontainer h1 {
  font-size: 50px;
  padding: 0px 0px 20px 0;
  color: blueviolet;
}
.WScontainer .product {
  height: 310px;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid rgb(223, 245, 255);
  border-radius: 10px;
}

.WScontainer .product .cardImg {
  height: 65%;
  width: 100%;
  padding: 10px 20px;
}
.WScontainer .product .cardImg img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.WScontainer .product .cardDetail {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}
.WScontainer .product .cardDetail .sapce_camera {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  justify-content: start;
  padding: 0 20px;
  align-items: start;
}

.WScontainer .product .cardDetail .mobileInfo {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 0 20px;
  font-size: 18px;
}
.WScontainer .product .cardDetail .buttons {
  padding: 0 20px;
}
.WScontainer .product .cardDetail .buttons a {
  color: blue;
  text-decoration: none;
}

@media screen and (max-width: 610px) {
  .WScontainer h1 {
    font-size: 30px;
  }
  .WScontainer {
    padding: 30px 10px;
  }
}

@media screen and (max-width: 429px) {
  .WScontainer h1 {
    font-size: 25px;
  }
}
